{{ ansible_managed }}
Environment: Production
OS Family: {{ ansible_os_family }}
Python version: {{ ansible_python_version }}
Number of CPUs: {{ ansible_processor_vcpus }}
Total Memory (Mb): {{ ansible_memtotal_mb }}
